app/code/Magento/Index/etc/indexers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="indexer" type="indexerDeclaration" minOccurs="1" maxOccurs="unbounded">
                    <xs:unique name="uniqueDependsName">
                        <xs:annotation>
                            <xs:documentation>
                                Dependent indexer name must be unique
                            </xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="depends" />
                        <xs:field xpath="@name" />
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueIndexerName">
            <xs:annotation>
                <xs:documentation>
                    Indexer name must be unique
                </xs:documentation>
            </xs:annotation>
            <xs:selector xpath="indexer" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>

    <xs:complexType name="indexerDeclaration">
        <xs:annotation>
            <xs:documentation>
                Indexer declaration
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="depends" type="dependencyDeclaration" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="identifierType" use="required" />
        <xs:attribute name="instance" type="instanceType" use="optional" />
    </xs:complexType>

    <xs:complexType name="dependencyDeclaration">
        <xs:annotation>
            <xs:documentation>
                Dependency declaration
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="identifierType" use="required" />
    </xs:complexType>

    <xs:simpleType name="identifierType">
        <xs:annotation>
            <xs:documentation>
                Identifier can contain only [a-z_].
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z_]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="instanceType">
        <xs:annotation>
            <xs:documentation>
                Instance name can contain only [a-zA-Z_\\\\].
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z_\\\\]+" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
