lib/Zend/Service/DeveloperGarden/Wsdl/ccsPort.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://ccs.developer.telekom.com/schema/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ccs.developer.telekom.com/schema/" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0">


	<!-- CCS header -->

	<xsd:simpleType name="EnvironmentType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="3"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="CCSRequestType" abstract="true">
		<xsd:sequence>
			<xsd:element name="environment" type="tns:EnvironmentType"  nillable="false" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CCSResponseType">
		<xsd:sequence>
			<xsd:element name="statusCode" type="xsd:string" nillable="false"/>
			<xsd:element name="statusMessage" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<!-- Participant Structures -->

	<xsd:complexType name="ParticipantStatusStruct">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ParticipantDetailStruct">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastName" type="xsd:string"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="flags" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ParticipantStruct">
		<xsd:sequence>
			<xsd:element name="participantId" type="xsd:string"/>
			<xsd:element name="detail" type="tns:ParticipantDetailStruct"/>
			<xsd:element name="status" type="tns:ParticipantStatusStruct" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Conference Structures -->

	<xsd:complexType name="ConferenceDetailStruct">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="duration" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConferenceAccStruct">
		<xsd:sequence>
			<xsd:element name="billingtype" type="xsd:string" />
			<xsd:element name="account" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ScheduleStruct">
		<xsd:sequence>
			<xsd:element name="minute" type="xsd:int"/>
			<xsd:element name="hour" type="xsd:int" />
			<xsd:element name="dayOfMonth" type="xsd:int" />
			<xsd:element name="month" type="xsd:int" />
			<xsd:element name="year" type="xsd:int" />
			<xsd:element name="recurring" type="xsd:int" />
			<xsd:element name="notify" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>


	<!-- Request and Response Types -->
	<xsd:complexType name="createConferenceRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="account" type="xsd:string"  nillable="true" minOccurs="0" maxOccurs="1" />
				<xsd:element name="ownerId" type="xsd:string"/>
				<xsd:element name="detail" type="tns:ConferenceDetailStruct"/>
				<xsd:element name="schedule" type="tns:ScheduleStruct" minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="createConferenceResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"  minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="commitConferenceRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getConferenceStatusRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
				<xsd:element name="what" type="xsd:int" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="getConferenceStatusResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="detail" type="tns:ConferenceDetailStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
				<xsd:element name="acc" type="tns:ConferenceAccStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
				<xsd:element name="startTime" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
				<xsd:element name="participants" type="tns:ParticipantStruct" minOccurs="0" maxOccurs="unbounded" nillable="true" />
				<xsd:element name="schedule" type="tns:ScheduleStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getRunningConferenceRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="getRunningConferenceResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="removeConferenceRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getConferenceListRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="what" type="xsd:int" />
				<xsd:element name="ownerId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="getConferenceListResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="conferenceIds" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="updateConferenceRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="account" type="xsd:string"  nillable="true" minOccurs="0" maxOccurs="1" />
				<xsd:element name="conferenceId" type="xsd:string"/>
				<xsd:element name="initiatorId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
				<xsd:element name="detail" type="tns:ConferenceDetailStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
				<xsd:element name="schedule" type="tns:ScheduleStruct" minOccurs="0" maxOccurs="1" nillable="true"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="newParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
				<xsd:element name="participant" type="tns:ParticipantDetailStruct"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="newParticipantResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="participantId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="removeParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
				<xsd:element name="participantId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="updateParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
				<xsd:element name="participantId" type="xsd:string"/>
				<xsd:element name="action" type="xsd:int"  minOccurs="0" maxOccurs="1"  nillable="true" />
				<xsd:element name="participant" type="tns:ParticipantDetailStruct" minOccurs="0" maxOccurs="1"  nillable="true"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getParticipantStatusRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="conferenceId" type="xsd:string"/>
				<xsd:element name="participantId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getParticipantStatusResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="status" type="tns:ParticipantStatusStruct" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>




	<xsd:complexType name="createConferenceTemplateRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="ownerId" type="xsd:string"/>
				<xsd:element name="detail" type="tns:ConferenceDetailStruct"/>
				<xsd:element name="participants" type="tns:ParticipantDetailStruct" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="createConferenceTemplateResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>





	<xsd:complexType name="getConferenceTemplateRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getConferenceTemplateResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="detail" type="tns:ConferenceDetailStruct" minOccurs="0" maxOccurs="1" nillable="true" />
				<xsd:element name="participants" type="tns:ParticipantStruct" minOccurs="0" maxOccurs="unbounded" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>




	<xsd:complexType name="updateConferenceTemplateRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
				<xsd:element name="initiatorId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
				<xsd:element name="detail" type="tns:ConferenceDetailStruct" minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="removeConferenceTemplateRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getConferenceTemplateListRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="ownerId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getConferenceTemplateListResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="templateIds" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="addConferenceTemplateParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
				<xsd:element name="participant" type="tns:ParticipantDetailStruct"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="addConferenceTemplateParticipantResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="participantId" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="getConferenceTemplateParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
				<xsd:element name="participantId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="getConferenceTemplateParticipantResponseType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSResponseType">
			<xsd:sequence>
				<xsd:element name="participant" type="tns:ParticipantDetailStruct" minOccurs="0" maxOccurs="1" nillable="true" />
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="updateConferenceTemplateParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
				<xsd:element name="participantId" type="xsd:string"/>
				<xsd:element name="participant" type="tns:ParticipantDetailStruct"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="removeConferenceTemplateParticipantRequestType">
		<xsd:complexContent mixed="false">
			<xsd:extension base="tns:CCSRequestType">
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:string"/>
				<xsd:element name="participantId" type="xsd:string"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

  <xsd:element name="createConference">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createConferenceRequest" type="tns:createConferenceRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createConferenceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createConferenceResponse" type="tns:createConferenceResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="commitConference">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="commitConferenceRequest" type="tns:commitConferenceRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="commitConferenceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceStatusRequest" type="tns:getConferenceStatusRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceStatusResponse" type="tns:getConferenceStatusResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getRunningConference">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getRunningConferenceRequest" type="tns:getRunningConferenceRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getRunningConferenceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getRunningConferenceResponse" type="tns:getRunningConferenceResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeConference">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="removeConferenceRequest" type="tns:removeConferenceRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeConferenceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceListRequest" type="tns:getConferenceListRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceListResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceListResponse" type="tns:getConferenceListResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateConference">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="updateConferenceRequest" type="tns:updateConferenceRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateConferenceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="newParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="newParticipantRequest" type="tns:newParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="newParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="newParticipantResponse" type="tns:newParticipantResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="removeParticipantRequest" type="tns:removeParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="updateParticipantRequest" type="tns:updateParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getParticipantStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getParticipantStatusRequest" type="tns:getParticipantStatusRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getParticipantStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getParticipantStatusResponse" type="tns:getParticipantStatusResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createConferenceTemplate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createConferenceTemplateRequest" type="tns:createConferenceTemplateRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="createConferenceTemplateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="createConferenceTemplateResponse" type="tns:createConferenceTemplateResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceTemplate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceTemplateRequest" type="tns:getConferenceTemplateRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceTemplateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceTemplateResponse" type="tns:getConferenceTemplateResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateConferenceTemplate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="updateConferenceTemplateRequest" type="tns:updateConferenceTemplateRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateConferenceTemplateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeConferenceTemplate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="removeConferenceTemplateRequest" type="tns:removeConferenceTemplateRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeConferenceTemplateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceTemplateList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceTemplateListRequest" type="tns:getConferenceTemplateListRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceTemplateListResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceTemplateListResponse" type="tns:getConferenceTemplateListResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="addConferenceTemplateParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="addConferenceTemplateParticipantRequest" type="tns:addConferenceTemplateParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="addConferenceTemplateParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="addConferenceTemplateParticipantResponse" type="tns:addConferenceTemplateParticipantResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceTemplateParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceTemplateParticipantRequest" type="tns:getConferenceTemplateParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="getConferenceTemplateParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getConferenceTemplateParticipantResponse" type="tns:getConferenceTemplateParticipantResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateConferenceTemplateParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="updateConferenceTemplateParticipantRequest" type="tns:updateConferenceTemplateParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateConferenceTemplateParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeConferenceTemplateParticipant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="removeConferenceTemplateParticipantRequest" type="tns:removeConferenceTemplateParticipantRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="removeConferenceTemplateParticipantResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CCSResponse" type="tns:CCSResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
