lib/Zend/Service/DeveloperGarden/Wsdl/SmsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.sms.odg.tonline.de" xmlns:intf="http://webservice.sms.odg.tonline.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.sms.odg.tonline.de">
	<wsdl:types>
		<schema targetNamespace="http://webservice.sms.odg.tonline.de" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="SmsRequest">
				<sequence>
					<element name="environment" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="sendSMSRequestBase">
				<complexContent>
					<extension base="impl:SmsRequest">
						<sequence>
							<element name="number" type="xsd:string"/>
							<element name="message" type="xsd:string"/>
							<element name="originator" type="xsd:string"/>
							<element maxOccurs="1" minOccurs="0" name="account" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="sendSMSRequest">
				<complexContent>
					<extension base="impl:sendSMSRequestBase">
						<sequence/>
					</extension>
				</complexContent>
			</complexType>
			<element name="sendSMS">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="0" name="request" type="impl:sendSMSRequest"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="SmsResult">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="description" nillable="true" type="xsd:string"/>
					<element name="status" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="sendSMSResponse">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="0" name="return" nillable="true" type="impl:SmsResult"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="sendFlashSMSRequest">
				<complexContent>
					<extension base="impl:sendSMSRequestBase">
						<sequence/>
					</extension>
				</complexContent>
			</complexType>
			<element name="sendFlashSMS">
				<complexType>
					<sequence>
						<element name="request" type="impl:sendFlashSMSRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="sendFlashSMSResponse">
				<complexType>
					<sequence>
						<element name="return" nillable="true" type="impl:SmsResult"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="sendSMSRequest">
		<wsdl:part name="sendSMS" element="impl:sendSMS"/>
	</wsdl:message>
	<wsdl:message name="sendFlashSMSRequest">
		<wsdl:part name="sendFlashSMS" element="impl:sendFlashSMS"/>
	</wsdl:message>
	<wsdl:message name="sendFlashSMSResponse">
		<wsdl:part name="sendFlashSMSResponse" element="impl:sendFlashSMSResponse"/>
	</wsdl:message>
	<wsdl:message name="sendSMSResponse">
		<wsdl:part name="sendSMSResponse" element="impl:sendSMSResponse"/>
	</wsdl:message>
	<wsdl:portType name="SmsServicePortType">
		<wsdl:operation name="sendSMS" parameterOrder="sendSMS">
			<wsdl:input name="sendSMSRequest" message="impl:sendSMSRequest"/>
			<wsdl:output name="sendSMSResponse" message="impl:sendSMSResponse"/>
		</wsdl:operation>
		<wsdl:operation name="sendFlashSMS" parameterOrder="sendFlashSMS">
			<wsdl:input name="sendFlashSMSRequest" message="impl:sendFlashSMSRequest"/>
			<wsdl:output name="sendFlashSMSResponse" message="impl:sendFlashSMSResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SmsServiceSoapBinding" type="impl:SmsServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendSMS">
			<wsdlsoap:operation soapAction="http://webservice.sms.odg.tonline.de/sendSMS"/>
			<wsdl:input name="sendSMSRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendSMSResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendFlashSMS">
			<wsdlsoap:operation soapAction="http://webservice.sms.odg.tonline.de/sendFlashSMS"/>
			<wsdl:input name="sendFlashSMSRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendFlashSMSResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmsService">
		<wsdl:port name="SmsService" binding="impl:SmsServiceSoapBinding">
			<wsdlsoap:address location="https://gateway.developer.telekom.com/p3gw-mod-odg-sms/services/SmsService"/>
		</wsdl:port>
	</wsdl:service>
	<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
</wsdl:definitions>
