app/code/Magento/Customer/etc/address_formats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="format" type="formatType" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="formatType">
        <xs:annotation>
            <xs:documentation>
                Address format declaration.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="xs:string" use="required" />
        <xs:attribute name="title" type="xs:string" use="required" />
        <xs:attribute name="escapeHtml" type="xs:boolean" use="optional" />
        <xs:attribute name="renderer" type="xs:string" use="optional" />
    </xs:complexType>

</xs:schema>
