app/code/Magento/Ui/view/base/ui_component/etc/definition/listingToolbar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!-- Include section -->
    <xs:include schemaLocation="urn:magento:module:Magento_Ui:view/base/ui_component/etc/definition/ui_component.xsd"/>

    <xs:complexType name="componentListingToolbar">
        <xs:sequence>
            <xs:group ref="configurable" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="settings" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:group ref="componentListingToolbarSettings"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="ui_element_attributes"/>
    </xs:complexType>

    <xs:group name="componentListingToolbarSettings">
        <xs:choice>
            <xs:group ref="uiCollectionSettings"/>
            <xs:element name="sticky" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        Whether the toolbar has a fixed position. When set to "true", elements like paging, filters, and
                        table headers stay in the viewport's area, no matter where the scroll position is.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stickyClass">
                <xs:annotation>
                    <xs:documentation>
                        A list of additional CSS classes added to the root node of the ".html" template specified in
                        "StickyTmpl".
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="class" type="classType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:group>
</xs:schema>
