app/code/Magento/Ui/view/base/ui_component/etc/definition/massaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!-- Include section -->
    <xs:include schemaLocation="urn:magento:module:Magento_Ui:view/base/ui_component/etc/definition/ui_component.xsd"/>

    <xs:complexType name="componentMassaction">
        <xs:sequence>
            <xs:group ref="configurable" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="settings" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:group ref="componentMassactionSettings"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="ui_element_attributes"/>
    </xs:complexType>

    <xs:group name="componentMassactionSettings">
        <xs:choice>
            <xs:group ref="uiElementSettings"/>
            <xs:element name="stickyTmpl" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Additional component's template that is used when its parent [Toolbar]({{page.baseurl}})
                        component receives a fixed position.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="noItemsMsg" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Message displayed when a user attempts to perform an action without any selected items.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actions" type="actionsType">
                <xs:annotation>
                    <xs:documentation>
                        A list of available actions.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="selectProvider"/>
            <xs:element ref="indexField"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="actionsType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="action">
                <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="label"/>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="url" type="urlType"/>
                        <xs:element name="param" type="argumentType"/>
                    </xs:choice>
                    <xs:attribute name="name" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
