app/code/Mage/Checkout/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="shoppingCartAddressEntity">
                <xsd:sequence>
                    <xsd:element name="address_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="save_in_address_book" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="customer_address_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="address_type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="prefix" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="middlename" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="suffix" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="company" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="street" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="city" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="region" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="region_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="postcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="country_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="same_as_billing" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="free_shipping" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="shipping_method" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="shipping_description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="weight" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="fax" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartItemEntity">
                <xsd:sequence>
                    <xsd:element name="item_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="product_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="store_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="parent_item_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="is_virtual" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="sku" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="applied_rule_ids" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="additional_data" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="free_shipping" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="is_qty_decimal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="no_discount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="weight" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="qty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="price" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_price" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="custom_price" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="discount_percent" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="discount_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_discount_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="tax_percent" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="tax_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_tax_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="row_total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_row_total" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="row_total_with_discount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="row_weight" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="product_type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="base_tax_before_discount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="tax_before_discount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="original_custom_price" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_cost" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="price_incl_tax" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_price_incl_tax" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="row_total_incl_tax" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_row_total_incl_tax" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="gift_message_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_message" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_message_available" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="weee_tax_applied" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="weee_tax_applied_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="weee_tax_applied_row_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_weee_tax_applied_amount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_weee_tax_applied_row_amnt" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="weee_tax_disposition" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="weee_tax_row_disposition" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_weee_tax_disposition" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_weee_tax_row_disposition" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="tax_class_id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartItemEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartItemEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartPaymentEntity">
                <xsd:sequence>
                    <xsd:element name="payment_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="method" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_number_enc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_last4" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_cid_enc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_owner" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_exp_month" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_exp_year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_ss_owner" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_ss_start_month" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_ss_start_year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_ss_issue" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="po_number" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="additional_data" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="additional_information" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartInfoEntity">
                <xsd:sequence>
                    <xsd:element name="store_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="converted_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="quote_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="is_active" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="is_virtual" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="is_multi_shipping" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="items_count" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="items_qty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="orig_order_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="store_to_base_rate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="store_to_quote_rate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="base_currency_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="store_currency_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="quote_currency_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="grand_total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="base_grand_total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="checkout_method" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_tax_class_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_group_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="customer_email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_prefix" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_firstname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_middlename" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_lastname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_suffix" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_note" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_note_notify" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_is_guest" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="applied_rule_ids" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="reserved_order_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="password_hash" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="coupon_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="global_currency_code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="base_to_global_rate" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_to_quote_rate" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="customer_taxvat" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_gender" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="subtotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_subtotal" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="subtotal_with_discount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_subtotal_with_discount" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="ext_shipping_info" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_message_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_message" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_balance_amount_used" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="base_customer_bal_amount_used" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="use_customer_balance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_cards_amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="base_gift_cards_amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_cards_amount_used" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="shipping_address" type="typens:shoppingCartAddressEntity" minOccurs="0"/>
                    <xsd:element name="billing_address" type="typens:shoppingCartAddressEntity" minOccurs="0"/>
                    <xsd:element name="items" type="typens:shoppingCartItemEntityArray" minOccurs="0"/>
                    <xsd:element name="payment" type="typens:shoppingCartPaymentEntity" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartTotalsEntity">
                <xsd:sequence>
                    <xsd:element name="title" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="amount" type="xsd:double" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartTotalsEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartTotalsEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartLicenseEntity">
                <xsd:sequence>
                    <xsd:element name="agreement_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="content" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="is_active" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="is_html" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartLicenseEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartLicenseEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartProductEntity">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="sku" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="qty" type="xsd:double" minOccurs="0"/>
                    <xsd:element name="options" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="configurable_options" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="bundle_option" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="bundle_option_qty" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="links" type="typens:ArrayOfString" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartProductEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartProductEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartProductResponseEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:catalogProductEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartCustomerEntity">
                <xsd:sequence>
                    <xsd:element name="mode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="password" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="confirmation" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="website_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="store_id" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="group_id" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartCustomerAddressEntity">
                <xsd:sequence>
                    <xsd:element name="mode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="address_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="company" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="street" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="city" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="region" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="region_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="postcode" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="country_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="telephone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fax" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="is_default_billing" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="is_default_shipping" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartCustomerAddressEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartCustomerAddressEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartShippingMethodEntity">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="carrier" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="carrier_title" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="method" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="method_title" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="method_description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="price" type="xsd:double" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartShippingMethodEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartShippingMethodEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartPaymentMethodEntity">
                <xsd:sequence>
                    <xsd:element name="po_number" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="method" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_cid" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_owner" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_number" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_exp_year" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cc_exp_month" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartPaymentMethodResponseEntity">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="cc_types" type="typens:associativeArray"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartPaymentMethodResponseEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartPaymentMethodResponseEntity"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="shoppingCartCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartOrderRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="agreements" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartOrderResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartOrderWithPaymentRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="agreements" type="typens:ArrayOfString" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="paymentData" type="typens:shoppingCartPaymentMethodEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartOrderWithPaymentResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartInfoEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartTotalsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartTotalsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartTotalsEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartLicenseRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartLicenseResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartLicenseEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productsData" type="typens:shoppingCartProductEntityArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productsData" type="typens:shoppingCartProductEntityArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productsData" type="typens:shoppingCartProductEntityArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartProductResponseEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductMoveToCustomerQuoteRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="productsData" type="typens:shoppingCartProductEntityArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartProductMoveToCustomerQuoteResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerSetRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerData" type="typens:shoppingCartCustomerEntity" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerSetResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerAddressesRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerAddressData" type="typens:shoppingCartCustomerAddressEntityArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerAddressesResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartShippingMethodRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="shippingMethod" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartShippingMethodResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartShippingListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartShippingListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartShippingMethodEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartPaymentMethodRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="paymentData" type="typens:shoppingCartPaymentMethodEntity" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartPaymentMethodResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartPaymentListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartPaymentListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartPaymentMethodResponseEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCouponAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="couponCode" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCouponAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCouponRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCouponRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="shoppingCartCreateRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCreateResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartOrderRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartOrderRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartOrderResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartOrderResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartOrderWithPaymentRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartOrderWithPaymentRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartOrderWithPaymentResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartOrderWithPaymentResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartInfoRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartInfoResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartTotalsRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartTotalsRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartTotalsResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartTotalsResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartLicenseRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartLicenseRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartLicenseResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartLicenseResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductAddRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartProductAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductAddResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartProductAddResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductUpdateRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartProductUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductUpdateResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartProductUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductRemoveRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartProductRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductRemoveResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartProductRemoveResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductListRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartProductListRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductListResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartProductListResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductMoveToCustomerQuoteRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartProductMoveToCustomerQuoteRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartProductMoveToCustomerQuoteResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartProductMoveToCustomerQuoteResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerSetRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerSetRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerSetResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerSetResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerAddressesRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerAddressesRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerAddressesResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerAddressesResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartShippingMethodRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartShippingMethodRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartShippingMethodResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartShippingMethodResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartShippingListRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartShippingListRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartShippingListResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartShippingListResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartPaymentMethodRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartPaymentMethodRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartPaymentMethodResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartPaymentMethodResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartPaymentListRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartPaymentListRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartPaymentListResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartPaymentListResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCouponAddRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCouponAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCouponAddResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCouponAddResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCouponRemoveRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCouponRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCouponRemoveResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCouponRemoveResponseParam" />
    </wsdl:message>

    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="shoppingCartCreate">
            <wsdl:documentation>Create shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCreateRequest"/>
            <wsdl:output message="typens:shoppingCartCreateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartInfo">
            <wsdl:documentation>Retrieve information about shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartInfoRequest"/>
            <wsdl:output message="typens:shoppingCartInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartOrder">
            <wsdl:documentation>Create an order from shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartOrderRequest"/>
            <wsdl:output message="typens:shoppingCartOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartOrderWithPayment">
            <wsdl:documentation>Create an order from shopping cart with payment method</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartOrderWithPaymentRequest"/>
            <wsdl:output message="typens:shoppingCartOrderWithPaymentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartTotals">
            <wsdl:documentation>Get total prices for shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartTotalsRequest"/>
            <wsdl:output message="typens:shoppingCartTotalsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartLicense">
            <wsdl:documentation>Get terms and conditions</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartLicenseRequest"/>
            <wsdl:output message="typens:shoppingCartLicenseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductAdd">
            <wsdl:documentation>Add product(s) to shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartProductAddRequest"/>
            <wsdl:output message="typens:shoppingCartProductAddResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductUpdate">
            <wsdl:documentation>Update product(s) quantities in shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartProductUpdateRequest"/>
            <wsdl:output message="typens:shoppingCartProductUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductRemove">
            <wsdl:documentation>Remove product(s) from shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartProductRemoveRequest"/>
            <wsdl:output message="typens:shoppingCartProductRemoveResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductList">
            <wsdl:documentation>Get list of products in shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartProductListRequest"/>
            <wsdl:output message="typens:shoppingCartProductListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductMoveToCustomerQuote">
            <wsdl:documentation>Move product(s) to customer quote</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartProductMoveToCustomerQuoteRequest"/>
            <wsdl:output message="typens:shoppingCartProductMoveToCustomerQuoteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerSet">
            <wsdl:documentation>Set customer for shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCustomerSetRequest"/>
            <wsdl:output message="typens:shoppingCartCustomerSetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerAddresses">
            <wsdl:documentation>Set customer's addresses in shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCustomerAddressesRequest"/>
            <wsdl:output message="typens:shoppingCartCustomerAddressesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartShippingMethod">
            <wsdl:documentation>Set shipping method</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartShippingMethodRequest"/>
            <wsdl:output message="typens:shoppingCartShippingMethodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartShippingList">
            <wsdl:documentation>Get list of available shipping methods</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartShippingListRequest"/>
            <wsdl:output message="typens:shoppingCartShippingListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartPaymentMethod">
            <wsdl:documentation>Set payment method</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartPaymentMethodRequest"/>
            <wsdl:output message="typens:shoppingCartPaymentMethodResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartPaymentList">
            <wsdl:documentation>Get list of available payment methods</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartPaymentListRequest"/>
            <wsdl:output message="typens:shoppingCartPaymentListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCouponAdd">
            <wsdl:documentation>Add coupon code for shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCouponAddRequest"/>
            <wsdl:output message="typens:shoppingCartCouponAddResponse"/>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCouponRemove">
            <wsdl:documentation>Remove coupon code from shopping cart</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCouponRemoveRequest"/>
            <wsdl:output message="typens:shoppingCartCouponRemoveResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="shoppingCartCreate">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartInfo">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartTotals">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartOrder">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartOrderWithPayment">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartLicense">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductAdd">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductUpdate">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductRemove">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductList">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartProductMoveToCustomerQuote">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerSet">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerAddresses">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartShippingMethod">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartShippingList">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartPaymentMethod">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartPaymentList">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCouponAdd">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCouponRemove">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
