etc/queue_merged.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="queue_base.xsd" />
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="publisher" type="publisherType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="topic" type="topicType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="consumer" type="consumerType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="bind" type="bindType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="consumer-unique-name">
            <xs:selector xpath="consumer"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:key name="publisher-name">
            <xs:selector xpath="publisher"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:keyref name="publisher-ref" refer="publisher-name">
            <xs:selector xpath="topic"/>
            <xs:field xpath="@publisher"/>
        </xs:keyref>
        <xs:key name="topic-name">
            <xs:selector xpath="topic"/>
            <xs:field xpath="@name"/>
        </xs:key>
    </xs:element>
</xs:schema>
