app/code/Mage/Customer/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="customerCustomerEntityToCreate">
                <xsd:sequence>
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="email" type="xsd:string" minOccurs="0" />
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="middlename" type="xsd:string" minOccurs="0" />
                    <xsd:element name="password" type="xsd:string" minOccurs="0" />
                    <xsd:element name="website_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="store_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="group_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="prefix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="suffix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="dob" type="xsd:string" minOccurs="0" />
                    <xsd:element name="taxvat" type="xsd:string" minOccurs="0" />
                    <xsd:element name="gender" type="xsd:int" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerCustomerEntity">
                <xsd:sequence>
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="increment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="store_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="website_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="created_in" type="xsd:string" minOccurs="0" />
                    <xsd:element name="email" type="xsd:string" minOccurs="0" />
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="middlename" type="xsd:string" minOccurs="0" />
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="group_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="prefix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="suffix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="dob" type="xsd:string" minOccurs="0" />
                    <xsd:element name="taxvat" type="xsd:string" minOccurs="0" />
                    <xsd:element name="confirmation" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="password_hash" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerCustomerEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:customerCustomerEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerGroupEntity">
                <xsd:sequence>
                    <xsd:element name="customer_group_id" type="xsd:int" />
                    <xsd:element name="customer_group_code" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerGroupEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:customerGroupEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerAddressEntityCreate">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string" minOccurs="0" />
                    <xsd:element name="company" type="xsd:string" minOccurs="0" />
                    <xsd:element name="country_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="fax" type="xsd:string" minOccurs="0" />
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="middlename" type="xsd:string" minOccurs="0" />
                    <xsd:element name="postcode" type="xsd:string" minOccurs="0" />
                    <xsd:element name="prefix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="region_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="region" type="xsd:string" minOccurs="0" />
                    <xsd:element name="street" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="suffix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="telephone" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_default_billing" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="is_default_shipping" type="xsd:boolean" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerAddressEntityItem">
                <xsd:sequence>
                    <xsd:element name="customer_address_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0" />
                    <xsd:element name="increment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="city" type="xsd:string" minOccurs="0" />
                    <xsd:element name="company" type="xsd:string" minOccurs="0" />
                    <xsd:element name="country_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="fax" type="xsd:string" minOccurs="0" />
                    <xsd:element name="firstname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="lastname" type="xsd:string" minOccurs="0" />
                    <xsd:element name="middlename" type="xsd:string" minOccurs="0" />
                    <xsd:element name="postcode" type="xsd:string" minOccurs="0" />
                    <xsd:element name="prefix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="region" type="xsd:string" minOccurs="0" />
                    <xsd:element name="region_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="street" type="xsd:string" minOccurs="0" />
                    <xsd:element name="suffix" type="xsd:string" minOccurs="0" />
                    <xsd:element name="telephone" type="xsd:string" minOccurs="0" />
                    <xsd:element name="is_default_billing" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="is_default_shipping" type="xsd:boolean" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="customerAddressEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:customerAddressEntityItem" />
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="customerCustomerListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customerCustomerEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerData" type="typens:customerCustomerEntityToCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customerCustomerEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerData" type="typens:customerCustomerEntityToCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerDeleteRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerCustomerDeleteResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerGroupListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerGroupListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customerGroupEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customerAddressEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="addressData" type="typens:customerAddressEntityCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="addressId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:customerAddressEntityItem" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="addressId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="addressData" type="typens:customerAddressEntityCreate" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressDeleteRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="addressId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="customerAddressDeleteResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="customerCustomerListRequest">
        <wsdl:part name="parameters" element="typens:customerCustomerListRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerListResponse">
        <wsdl:part name="parameters" element="typens:customerCustomerListResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerCreateRequest">
        <wsdl:part name="parameters" element="typens:customerCustomerCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerCreateResponse">
        <wsdl:part name="parameters" element="typens:customerCustomerCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerInfoRequest">
        <wsdl:part name="parameters" element="typens:customerCustomerInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerInfoResponse">
        <wsdl:part name="parameters" element="typens:customerCustomerInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerUpdateRequest">
        <wsdl:part name="parameters" element="typens:customerCustomerUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerUpdateResponse">
        <wsdl:part name="parameters" element="typens:customerCustomerUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerDeleteRequest">
        <wsdl:part name="parameters" element="typens:customerCustomerDeleteRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerCustomerDeleteResponse">
        <wsdl:part name="parameters" element="typens:customerCustomerDeleteResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerGroupListRequest">
        <wsdl:part name="parameters" element="typens:customerGroupListRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerGroupListResponse">
        <wsdl:part name="parameters" element="typens:customerGroupListResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressListRequest">
        <wsdl:part name="parameters" element="typens:customerAddressListRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressListResponse">
        <wsdl:part name="parameters" element="typens:customerAddressListResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressCreateRequest">
        <wsdl:part name="parameters" element="typens:customerAddressCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressCreateResponse">
        <wsdl:part name="parameters" element="typens:customerAddressCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressInfoRequest">
        <wsdl:part name="parameters" element="typens:customerAddressInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressInfoResponse">
        <wsdl:part name="parameters" element="typens:customerAddressInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressUpdateRequest">
        <wsdl:part name="parameters" element="typens:customerAddressUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressUpdateResponse">
        <wsdl:part name="parameters" element="typens:customerAddressUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressDeleteRequest">
        <wsdl:part name="parameters" element="typens:customerAddressDeleteRequestParam" />
    </wsdl:message>
    <wsdl:message name="customerAddressDeleteResponse">
        <wsdl:part name="parameters" element="typens:customerAddressDeleteResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="customerCustomerList">
            <wsdl:documentation>Retrieve customers</wsdl:documentation>
            <wsdl:input message="typens:customerCustomerListRequest" />
            <wsdl:output message="typens:customerCustomerListResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerCustomerCreate">
            <wsdl:documentation>Create customer</wsdl:documentation>
            <wsdl:input message="typens:customerCustomerCreateRequest" />
            <wsdl:output message="typens:customerCustomerCreateResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerCustomerInfo">
            <wsdl:documentation>Retrieve customer data</wsdl:documentation>
            <wsdl:input message="typens:customerCustomerInfoRequest" />
            <wsdl:output message="typens:customerCustomerInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerCustomerUpdate">
            <wsdl:documentation>Update customer data</wsdl:documentation>
            <wsdl:input message="typens:customerCustomerUpdateRequest" />
            <wsdl:output message="typens:customerCustomerUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerCustomerDelete">
            <wsdl:documentation>Delete customer</wsdl:documentation>
            <wsdl:input message="typens:customerCustomerDeleteRequest" />
            <wsdl:output message="typens:customerCustomerDeleteResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerGroupList">
            <wsdl:documentation>Retrieve customer groups</wsdl:documentation>
            <wsdl:input message="typens:customerGroupListRequest" />
            <wsdl:output message="typens:customerGroupListResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerAddressList">
            <wsdl:documentation>Retrieve customer addresses</wsdl:documentation>
            <wsdl:input message="typens:customerAddressListRequest" />
            <wsdl:output message="typens:customerAddressListResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerAddressCreate">
            <wsdl:documentation>Create customer address</wsdl:documentation>
            <wsdl:input message="typens:customerAddressCreateRequest" />
            <wsdl:output message="typens:customerAddressCreateResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerAddressInfo">
            <wsdl:documentation>Retrieve customer address data</wsdl:documentation>
            <wsdl:input message="typens:customerAddressInfoRequest" />
            <wsdl:output message="typens:customerAddressInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerAddressUpdate">
            <wsdl:documentation>Update customer address data</wsdl:documentation>
            <wsdl:input message="typens:customerAddressUpdateRequest" />
            <wsdl:output message="typens:customerAddressUpdateResponse" />
        </wsdl:operation>
        <wsdl:operation name="customerAddressDelete">
            <wsdl:documentation>Delete customer address</wsdl:documentation>
            <wsdl:input message="typens:customerAddressDeleteRequest" />
            <wsdl:output message="typens:customerAddressDeleteResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="customerCustomerList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerCustomerCreate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerCustomerInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerCustomerUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerCustomerDelete">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerGroupList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerAddressList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerAddressCreate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerAddressInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerAddressUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="customerAddressDelete">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
