lib/internal/Zend/Service/DeveloperGarden/Wsdl/SmsValidationUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.sms.odg.tonline.de" xmlns:intf="http://webservice.sms.odg.tonline.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.sms.odg.tonline.de">
	<wsdl:types>
		<schema targetNamespace="http://webservice.sms.odg.tonline.de" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="sendValidationKeywordRequest">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
						<element name="number" type="xsd:string"/>
						<element maxOccurs="1" minOccurs="0" name="originator" type="xsd:string"/>
						<element name="environment" type="xsd:string"/>
						<element maxOccurs="1" minOccurs="0" name="account" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="sendValidationKeywordResponse">
				<complexType>
					<sequence>
						<element name="statusCode" type="xsd:string"/>
						<element name="statusMessage" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="validateRequest">
				<complexType>
					<sequence>
						<element name="keyword" type="xsd:string"/>
						<element name="number" type="xsd:string"/>
						<element name="environment" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="validateResponse">
				<complexType>
					<sequence>
						<element name="statusCode" type="xsd:string"/>
						<element name="statusMessage" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="invalidateRequest">
				<complexType>
					<sequence>
						<element name="number" type="xsd:string"/>
						<element name="environment" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="invalidateResponse">
				<complexType>
					<sequence>
						<element name="statusCode" type="xsd:string"/>
						<element name="statusMessage" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="getValidatedNumbersRequest">
				<complexType>
					<sequence>
						<element name="environment" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="ValidatedNumber">
				<sequence>
					<element name="number" type="xsd:string"/>
					<element maxOccurs="1" minOccurs="0" name="validUntil" type="xsd:dateTime"/>
				</sequence>
			</complexType>
			<element name="getValidatedNumbersResponse">
				<complexType>
					<sequence>
						<element name="statusCode" type="xsd:string"/>
						<element name="statusMessage" type="xsd:string"/>
						<element maxOccurs="unbounded" minOccurs="0" name="validatedNumbers" type="impl:ValidatedNumber"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="sendValidationKeywordRequest">
		<wsdl:part name="sendValidationKeywordRequest" element="impl:sendValidationKeywordRequest"/>
	</wsdl:message>
	<wsdl:message name="getValidatedNumbersResponse">
		<wsdl:part name="getValidatedNumbersResponse" element="impl:getValidatedNumbersResponse"/>
	</wsdl:message>
	<wsdl:message name="getValidatedNumbersRequest">
		<wsdl:part name="getValidatedNumbersRequest" element="impl:getValidatedNumbersRequest"/>
	</wsdl:message>
	<wsdl:message name="invalidateRequest">
		<wsdl:part name="invalidateRequest" element="impl:invalidateRequest"/>
	</wsdl:message>
	<wsdl:message name="validateRequest">
		<wsdl:part name="validateRequest" element="impl:validateRequest"/>
	</wsdl:message>
	<wsdl:message name="sendValidationKeywordResponse">
		<wsdl:part name="sendValidationKeywordResponse" element="impl:sendValidationKeywordResponse"/>
	</wsdl:message>
	<wsdl:message name="validateResponse">
		<wsdl:part name="validateResponse" element="impl:validateResponse"/>
	</wsdl:message>
	<wsdl:message name="invalidateResponse">
		<wsdl:part name="invalidateResponse" element="impl:invalidateResponse"/>
	</wsdl:message>
	<wsdl:portType name="SmsValidationUserServicePortType">
		<wsdl:operation name="sendValidationKeyword" parameterOrder="sendValidationKeywordRequest">
			<wsdl:input name="sendValidationKeywordRequest" message="impl:sendValidationKeywordRequest"/>
			<wsdl:output name="sendValidationKeywordResponse" message="impl:sendValidationKeywordResponse"/>
		</wsdl:operation>
		<wsdl:operation name="validate" parameterOrder="validateRequest">
			<wsdl:input name="validateRequest" message="impl:validateRequest"/>
			<wsdl:output name="validateResponse" message="impl:validateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="invalidate" parameterOrder="invalidateRequest">
			<wsdl:input name="invalidateRequest" message="impl:invalidateRequest"/>
			<wsdl:output name="invalidateResponse" message="impl:invalidateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getValidatedNumbers" parameterOrder="getValidatedNumbersRequest">
			<wsdl:input name="getValidatedNumbersRequest" message="impl:getValidatedNumbersRequest"/>
			<wsdl:output name="getValidatedNumbersResponse" message="impl:getValidatedNumbersResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SmsValidationUserServiceSoapBinding" type="impl:SmsValidationUserServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendValidationKeyword">
			<wsdlsoap:operation soapAction="http://webservice.sms.odg.tonline.de/sendValidationKeyword"/>
			<wsdl:input name="sendValidationKeywordRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendValidationKeywordResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validate">
			<wsdlsoap:operation soapAction="http://webservice.sms.odg.tonline.de/validate"/>
			<wsdl:input name="validateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="validateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="invalidate">
			<wsdlsoap:operation soapAction="http://webservice.sms.odg.tonline.de/invalidate"/>
			<wsdl:input name="invalidateRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="invalidateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getValidatedNumbers">
			<wsdlsoap:operation soapAction="http://webservice.sms.odg.tonline.de/getValidatedNumbers"/>
			<wsdl:input name="getValidatedNumbersRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getValidatedNumbersResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmsValidationUserService">
		<wsdl:port name="SmsValidationUserService" binding="impl:SmsValidationUserServiceSoapBinding">
			<wsdlsoap:address location="https://gateway.developer.telekom.com/p3gw-mod-odg-sms-validation/services/SmsValidationUserService"/>
		</wsdl:port>
	</wsdl:service>
	<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
</wsdl:definitions>
