app/code/Magento/Sales/etc/pdf_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * XSD for an individual file with PDF settings
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:redefine schemaLocation="pdf.xsd">
        <xs:complexType name="totalItemType">
            <xs:complexContent>
                <xs:restriction base="totalItemType">
                    <xs:all>
                        <xs:element name="title" type="totalTitleType" minOccurs="0"/>
                        <xs:element name="source_field" type="fieldType" minOccurs="0"/>
                        <xs:element name="title_source_field" type="fieldType" minOccurs="0"/>
                        <xs:element name="font_size" type="xs:positiveInteger" minOccurs="0"/>
                        <xs:element name="display_zero" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="sort_order" type="xs:nonNegativeInteger" minOccurs="0"/>
                        <xs:element name="model" type="classNameType" minOccurs="0"/>
                        <xs:element name="amount_prefix" type="xs:string" minOccurs="0"/>
                    </xs:all>
                </xs:restriction>
            </xs:complexContent>
        </xs:complexType>
    </xs:redefine>
</xs:schema>
