lib/Magento/App/etc/resources.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This schema must be used to validate resources.xml files
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resource" type="resourceDeclaration" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueResourceName">
            <xs:annotation>
                <xs:documentation>Resource name must be unique.</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="resource" />
            <xs:field xpath="@name" />
        </xs:unique>
    </xs:element>

    <xs:complexType name="resourceDeclaration">
        <xs:annotation>
            <xs:documentation>
                Resource declaration.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="nameIdentifier" use="required" />
        <xs:attribute name="extends" type="nameIdentifier" use="optional" />
        <xs:attribute name="connection" type="nameIdentifier" use="optional" />
    </xs:complexType>

    <xs:simpleType name="nameIdentifier">
        <xs:annotation>
            <xs:documentation>
                Name identifier can contain only [A-Za-z_].
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z_]+" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
