app/code/Magento/Webhook/schema/service/SubscriptionV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 /**
 * Webhooks subscription service description.
 *
 * Includes request and response data descriptions for all service methods.
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2013 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="createRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="subscriptionData" type="subscriptionData"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="createResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:element name="getAllRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="apiUserId" type="xsd:int"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getAllResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:element name="updateRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="subscriptionData" type="subscriptionData"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="updateResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:element name="getRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="subscriptionId" type="xsd:int"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="getResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:element name="deleteRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="subscriptionId" type="xsd:int"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="deleteResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:element name="deactivateRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="subscriptionId" type="xsd:int"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="deactivateResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:element name="revokeRequest">
        <xsd:complexType>
            <xs:sequence>
                <xsd:element name="subscriptionId" type="xsd:int"/>
            </xs:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="revokeResponse">
        <xs:sequence>
            <xsd:element name="subscriptionData" type="subscriptionData"/>
        </xs:sequence>
    </xsd:complexType>

    <xsd:complexType name="subscriptionData">
        <xsd:sequence>
            <xsd:element name="subscription_id" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Subscription ID</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="alias" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Alias</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="topics" type="topicList">
                <xsd:annotation>
                    <xsd:documentation>Subscription subscribed topics</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="status" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Status</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="endpoint_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Endpoint URL</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="timeout_in_secs" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Subscription Retry Timeout in Seconds</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="authentication_type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Authentication Type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="format" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Format</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="topicList">
        <xsd:sequence>
            <xsd:element name="topic" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Subscription Topic</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
