app/code/Mage/GiftMessage/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="giftMessageEntity">
                <sequence>
                    <element name="from" type="xsd:string" minOccurs="0" />
                    <element name="to" type="xsd:string" minOccurs="0" />
                    <element name="message" type="xsd:string" minOccurs="0" />
                </sequence>
            </complexType>
            <complexType name="giftMessageResponse">
                <sequence>
                    <element name="entityId" type="xsd:string" minOccurs="0" />
                    <element name="result" type="xsd:boolean" minOccurs="0" />
                    <element name="error" type="xsd:string" minOccurs="0" />
                </sequence>
            </complexType>
            <complexType name="giftMessageResponseArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:giftMessageResponse[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="giftMessageAssociativeProductsEntity">
                <sequence>
                    <element name="product" type="typens:shoppingCartProductEntity" />
                    <element name="message" type="typens:giftMessageEntity" />
                </sequence>
            </complexType>
            <complexType name="giftMessageAssociativeProductsEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:giftMessageAssociativeProductsEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="giftMessageForQuoteRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="quoteId" type="xsd:string" />
        <part name="giftMessage" type="typens:giftMessageEntity" />
        <part name="storeId" type="xsd:string" />
    </message>
    <message name="giftMessageForQuoteResponse">
        <part name="result" type="typens:giftMessageResponse" />
    </message>
    <message name="giftMessageForQuoteItemRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="quoteItemId" type="xsd:string" />
        <part name="giftMessage" type="typens:giftMessageEntity" />
        <part name="storeId" type="xsd:string" />
    </message>
    <message name="giftMessageForQuoteItemResponse">
        <part name="result" type="typens:giftMessageResponse" />
    </message>
    <message name="giftMessageForQuoteProductRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="quoteId" type="xsd:string" />
        <part name="productsAndMessages" type="typens:giftMessageAssociativeProductsEntityArray" />
        <part name="storeId" type="xsd:string" />
    </message>
    <message name="giftMessageForQuoteProductResponse">
        <part name="result" type="typens:giftMessageResponseArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="giftMessageSetForQuote">
            <documentation>Set a gift message to the cart</documentation>
            <input message="typens:giftMessageForQuoteRequest" />
            <output message="typens:giftMessageForQuoteResponse" />
        </operation>
        <operation name="giftMessageSetForQuoteItem">
            <documentation>Setting a gift messages to the quote item</documentation>
            <input message="typens:giftMessageForQuoteItemRequest" />
            <output message="typens:giftMessageForQuoteItemResponse" />
        </operation>
        <operation name="giftMessageSetForQuoteProduct">
            <documentation>Setting a gift messages to the quote items by products</documentation>
            <input message="typens:giftMessageForQuoteProductRequest" />
            <output message="typens:giftMessageForQuoteProductResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="giftMessageSetForQuote">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="giftMessageSetForQuoteItem">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="giftMessageSetForQuoteProduct">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
