lib/internal/Magento/Framework/Api/etc/data_object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
      <xs:complexType>
          <xs:sequence>
              <xs:element name="custom_attributes" type="custom_attributesType" minOccurs="1" maxOccurs="unbounded">
                  <xs:annotation>
                      <xs:documentation>Main schema element. Extended Attributes</xs:documentation>
                  </xs:annotation>
              </xs:element>
          </xs:sequence>
      </xs:complexType>
  </xs:element>
  <xs:complexType name="attributeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="code" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="custom_attributesType">
    <xs:sequence>
      <xs:element type="attributeType" name="attribute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="for" use="required"/>
  </xs:complexType>
</xs:schema>
