app/code/Magento/Core/etc/layout_merged.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="layouts.xsd"/>

    <xs:element name="layout">
        <xs:annotation>
            <xs:documentation>
                Handle id must be unique.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="handle" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="handleName">
            <xs:selector xpath="handle"></xs:selector>
            <xs:field xpath="@id"></xs:field>
        </xs:key>
    </xs:element>

    <xs:element name="handle" type="handleType">
        <xs:unique name="blockKey">
            <xs:selector xpath=".//block"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:unique name="containerKey">
            <xs:selector xpath=".//container"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:keyref name="blockReference" refer="blockKey">
            <xs:selector xpath=".//referenceBlock"/>
            <xs:field xpath="@name"/>
        </xs:keyref>
        <xs:keyref name="containerReference" refer="containerKey">
            <xs:selector xpath=".//referenceContainer"/>
            <xs:field xpath="@name"/>
        </xs:keyref>
    </xs:element>

    <xs:complexType name="handleType">
        <xs:annotation>
            <xs:documentation>
                Handle Type definition
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="layoutType">
                <xs:attribute type="elementNameType" name="id" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
