app/code/Magento/Core/etc/locale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2013 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="locale" type="localeDeclaration" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueLocaleCode">
            <xs:annotation>
                <xs:documentation>
                    Locale code must be unique.
                </xs:documentation>
            </xs:annotation>
            <xs:selector xpath="locale"/>
            <xs:field xpath="@code"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="localeDeclaration">
        <xs:annotation>
            <xs:documentation>
                Locale declaration.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="code" type="localeCode" use="required" />
        <xs:attribute name="parent" type="localeCode" use="required" />
    </xs:complexType>

    <xs:simpleType name="localeCode">
        <xs:annotation>
            <xs:documentation>
                Locale code attribute can contain only [A-Za-z0-9_.-].
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z_\-.]+" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
