app/code/Magento/Core/etc/service_calls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Schema for service calls
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2013 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="service_calls">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="service_call" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="serviceCallAttributeGroup">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="service" type="xs:string" use="required" />
        <xs:attribute name="method" type="xs:string" use="required" />
    </xs:attributeGroup>

    <xs:element name="service_call">
        <xs:annotation>
            <xs:documentation>
                Service call definition
            </xs:documentation>
        </xs:annotation>

        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="arg" type="typeArg" />
            </xs:sequence>
            <xs:attributeGroup ref="serviceCallAttributeGroup"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="typeArg">
        <xs:annotation>
            <xs:documentation>
                Dynamic values which are evaluated at the time of service calls construction or method invocation enclosed with {{ }}.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>