app/code/Magento/Ui/etc/ui_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo>The definition of a configuration item components</xs:appinfo>
        <xs:documentation>The definition of a configuration item components</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="urn:magento:module:Magento_Ui:etc/ui_components.xsd"/>

    <xs:group name="formElements">
        <xs:choice>
            <xs:element ref="bookmark" maxOccurs="unbounded"/>
            <xs:element ref="boolean" maxOccurs="unbounded"/>
            <xs:element ref="button" maxOccurs="unbounded"/>
            <xs:element ref="checkbox" maxOccurs="unbounded"/>
            <xs:element ref="checkboxset" maxOccurs="unbounded"/>
            <xs:element ref="component" maxOccurs="unbounded"/>
            <xs:element ref="container" maxOccurs="unbounded"/>
            <xs:element ref="dataSource" maxOccurs="unbounded"/>
            <xs:element ref="dataProvider" maxOccurs="unbounded"/>
            <xs:element ref="date" maxOccurs="unbounded"/>
            <xs:element ref="dynamicRows" maxOccurs="unbounded"/>
            <xs:element ref="email" maxOccurs="unbounded"/>
            <xs:element ref="exportButton" maxOccurs="unbounded"/>
            <xs:element ref="field" maxOccurs="unbounded"/>
            <xs:element ref="fieldset" maxOccurs="unbounded"/>
            <xs:element ref="file" maxOccurs="unbounded"/>
            <xs:element ref="fileUploader" maxOccurs="unbounded"/>
            <xs:element ref="form" maxOccurs="unbounded"/>
            <xs:element ref="hidden" maxOccurs="unbounded"/>
            <xs:element ref="htmlContent" maxOccurs="unbounded"/>
            <xs:element ref="input" maxOccurs="unbounded"/>
            <xs:element ref="insertForm" maxOccurs="unbounded"/>
            <xs:element ref="insertListing" maxOccurs="unbounded"/>
            <xs:element ref="listing" maxOccurs="unbounded"/>
            <xs:element ref="massaction" maxOccurs="unbounded"/>
            <xs:element ref="modal" maxOccurs="unbounded"/>
            <xs:element ref="multiline" maxOccurs="unbounded"/>
            <xs:element ref="multiselect" maxOccurs="unbounded"/>
            <xs:element ref="nav" maxOccurs="unbounded"/>
            <xs:element ref="number" maxOccurs="unbounded"/>
            <xs:element ref="paging" maxOccurs="unbounded"/>
            <xs:element ref="price" maxOccurs="unbounded"/>
            <xs:element ref="range" maxOccurs="unbounded"/>
            <xs:element ref="radioset" maxOccurs="unbounded"/>
            <xs:element ref="select" maxOccurs="unbounded"/>
            <xs:element ref="tab" maxOccurs="unbounded"/>
            <xs:element ref="text" maxOccurs="unbounded"/>
            <xs:element ref="textarea" maxOccurs="unbounded"/>
            <xs:element ref="wysiwyg" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    <xs:group name="listingElements">
        <xs:choice>
            <xs:element ref="actions" maxOccurs="unbounded"/>
            <xs:element ref="actionsColumn" maxOccurs="unbounded"/>
            <xs:element ref="bookmark" maxOccurs="unbounded"/>
            <xs:element ref="boolean" maxOccurs="unbounded"/>
            <xs:element ref="button" maxOccurs="unbounded"/>
            <xs:element ref="checkbox" maxOccurs="unbounded"/>
            <xs:element ref="checkboxset" maxOccurs="unbounded"/>
            <xs:element ref="column" maxOccurs="unbounded"/>
            <xs:element ref="columns" maxOccurs="unbounded"/>
            <xs:element ref="columnsControls" maxOccurs="unbounded"/>
            <xs:element ref="component" maxOccurs="unbounded"/>
            <xs:element ref="container" maxOccurs="unbounded"/>
            <xs:element ref="dataSource" maxOccurs="unbounded"/>
            <xs:element ref="dataProvider" maxOccurs="unbounded"/>
            <xs:element ref="date" maxOccurs="unbounded"/>
            <xs:element ref="dynamicRows" maxOccurs="unbounded"/>
            <xs:element ref="email" maxOccurs="unbounded"/>
            <xs:element ref="exportButton" maxOccurs="unbounded"/>
            <xs:element ref="field" maxOccurs="unbounded"/>
            <xs:element ref="fieldset" maxOccurs="unbounded"/>
            <xs:element ref="file" maxOccurs="unbounded"/>
            <xs:element ref="filters" maxOccurs="unbounded"/>
            <xs:element ref="form" maxOccurs="unbounded"/>
            <xs:element ref="hidden" maxOccurs="unbounded"/>
            <xs:element ref="htmlContent" maxOccurs="unbounded"/>
            <xs:element ref="input" maxOccurs="unbounded"/>
            <xs:element ref="insertForm" maxOccurs="unbounded"/>
            <xs:element ref="insertListing" maxOccurs="unbounded"/>
            <xs:element ref="listing" maxOccurs="unbounded"/>
            <xs:element ref="listingToolbar" maxOccurs="unbounded"/>
            <xs:element ref="massaction" maxOccurs="unbounded"/>
            <xs:element ref="modal" maxOccurs="unbounded"/>
            <xs:element ref="multiline" maxOccurs="unbounded"/>
            <xs:element ref="multiselect" maxOccurs="unbounded"/>
            <xs:element ref="nav" maxOccurs="unbounded"/>
            <xs:element ref="number" maxOccurs="unbounded"/>
            <xs:element ref="paging" maxOccurs="unbounded"/>
            <xs:element ref="price" maxOccurs="unbounded"/>
            <xs:element ref="range" maxOccurs="unbounded"/>
            <xs:element ref="radioset" maxOccurs="unbounded"/>
            <xs:element ref="select" maxOccurs="unbounded"/>
            <xs:element ref="selectionsColumn" maxOccurs="unbounded"/>
            <xs:element ref="tab" maxOccurs="unbounded"/>
            <xs:element ref="text" maxOccurs="unbounded"/>
            <xs:element ref="textarea" maxOccurs="unbounded"/>
            <xs:element ref="wysiwyg" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    <xs:group name="fieldsetElements">
        <xs:choice>
            <xs:group ref="formElements"/>
        </xs:choice>
    </xs:group>
    <xs:group name="dynamicRowsElements">
        <xs:choice>
            <xs:group ref="formElements"/>
            <xs:element ref="actionDelete"/>
        </xs:choice>
    </xs:group>
    <xs:group name="actionsElements">
        <xs:choice>
            <xs:element ref="container" maxOccurs="unbounded"/>
            <xs:element ref="component" maxOccurs="unbounded"/>
            <xs:element ref="action" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    <xs:group name="massactionElements">
        <xs:choice>
            <xs:group ref="actionsElements"/>
            <xs:element ref="actions" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    <xs:group name="actionsColumnElements">
        <xs:choice>
            <xs:group ref="massactionElements"/>
        </xs:choice>
    </xs:group>
    <xs:group name="filtersElements">
        <xs:choice>
            <xs:element ref="container" maxOccurs="unbounded"/>
            <xs:element ref="component" maxOccurs="unbounded"/>
            <xs:element ref="filterDate" maxOccurs="unbounded"/>
            <xs:element ref="filterInput" maxOccurs="unbounded"/>
            <xs:element ref="filterRange" maxOccurs="unbounded"/>
            <xs:element ref="filterSelect" maxOccurs="unbounded"/>
            <xs:element ref="filterSearch" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>
    <xs:group name="allComponents">
        <xs:choice>
            <xs:element ref="action" maxOccurs="unbounded"/>
            <xs:element ref="actionDelete" maxOccurs="unbounded"/>
            <xs:element ref="actions" maxOccurs="unbounded"/>
            <xs:element ref="actionsColumn" maxOccurs="unbounded"/>
            <xs:element ref="bookmark" maxOccurs="unbounded"/>
            <xs:element ref="boolean" maxOccurs="unbounded"/>
            <xs:element ref="button" maxOccurs="unbounded"/>
            <xs:element ref="checkbox" maxOccurs="unbounded"/>
            <xs:element ref="checkboxset" maxOccurs="unbounded"/>
            <xs:element ref="column" maxOccurs="unbounded"/>
            <xs:element ref="columns" maxOccurs="unbounded"/>
            <xs:element ref="columnsControls" maxOccurs="unbounded"/>
            <xs:element ref="component" maxOccurs="unbounded"/>
            <xs:element ref="container" maxOccurs="unbounded"/>
            <xs:element ref="dataSource" maxOccurs="unbounded"/>
            <xs:element ref="dataProvider" maxOccurs="unbounded"/>
            <xs:element ref="date" maxOccurs="unbounded"/>
            <xs:element ref="dynamicRows" maxOccurs="unbounded"/>
            <xs:element ref="email" maxOccurs="unbounded"/>
            <xs:element ref="exportButton" maxOccurs="unbounded"/>
            <xs:element ref="field" maxOccurs="unbounded"/>
            <xs:element ref="fieldset" maxOccurs="unbounded"/>
            <xs:element ref="file" maxOccurs="unbounded"/>
            <xs:element ref="fileUploader" maxOccurs="unbounded"/>
            <xs:element ref="filterDate" maxOccurs="unbounded"/>
            <xs:element ref="filterInput" maxOccurs="unbounded"/>
            <xs:element ref="filterRange" maxOccurs="unbounded"/>
            <xs:element ref="filterSelect" maxOccurs="unbounded"/>
            <xs:element ref="filterSearch" maxOccurs="unbounded"/>
            <xs:element ref="filters" maxOccurs="unbounded"/>
            <xs:element ref="form" maxOccurs="unbounded"/>
            <xs:element ref="hidden" maxOccurs="unbounded"/>
            <xs:element ref="htmlContent" maxOccurs="unbounded"/>
            <xs:element ref="input" maxOccurs="unbounded"/>
            <xs:element ref="insertForm" maxOccurs="unbounded"/>
            <xs:element ref="insertListing" maxOccurs="unbounded"/>
            <xs:element ref="listing" maxOccurs="unbounded"/>
            <xs:element ref="massaction" maxOccurs="unbounded"/>
            <xs:element ref="modal" maxOccurs="unbounded"/>
            <xs:element ref="multiline" maxOccurs="unbounded"/>
            <xs:element ref="multiselect" maxOccurs="unbounded"/>
            <xs:element ref="nav" maxOccurs="unbounded"/>
            <xs:element ref="number" maxOccurs="unbounded"/>
            <xs:element ref="paging" maxOccurs="unbounded"/>
            <xs:element ref="price" maxOccurs="unbounded"/>
            <xs:element ref="range" maxOccurs="unbounded"/>
            <xs:element ref="radioset" maxOccurs="unbounded"/>
            <xs:element ref="select" maxOccurs="unbounded"/>
            <xs:element ref="selectionsColumn" maxOccurs="unbounded"/>
            <xs:element ref="tab" maxOccurs="unbounded"/>
            <xs:element ref="text" maxOccurs="unbounded"/>
            <xs:element ref="textarea" maxOccurs="unbounded"/>
            <xs:element ref="wysiwyg" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="componentListingConfigured">
        <xs:complexContent>
            <xs:extension base="componentListing">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="listingElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentActionsConfigured">
        <xs:complexContent>
            <xs:extension base="componentActions">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="actionsElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentActionsColumnConfigured">
        <xs:complexContent>
            <xs:extension base="componentActionsColumn">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="actionsColumnElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentColumnsConfigured">
        <xs:complexContent>
            <xs:extension base="componentColumns">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="column"/>
                    <xs:element ref="actionsColumn"/>
                    <xs:element ref="selectionsColumn"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentContainerConfigured">
        <xs:complexContent>
            <xs:extension base="componentContainer">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="allComponents"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentDataSourceConfigured">
        <xs:complexContent>
            <xs:extension base="componentDataSource">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="dataProvider"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentDynamicRowsConfigured">
        <xs:complexContent>
            <xs:extension base="componentDynamicRows">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:group ref="dynamicRowsElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentFieldConfigured">
        <xs:complexContent>
            <xs:extension base="componentField">
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="formElements" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                A container for a configuration that is specific to the form element specified
                                in the formElement attribute.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                <xs:group ref="formElements"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentFieldsetConfigured">
        <xs:complexContent>
            <xs:extension base="componentFieldset">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="fieldsetElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentFiltersConfigured">
        <xs:complexContent>
            <xs:extension base="componentFilters">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="filtersElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentFormConfigured">
        <xs:complexContent>
            <xs:extension base="componentForm">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="formElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentHtmlContentConfigured">
        <xs:complexContent>
            <xs:extension base="componentHtmlContent">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="block" type="blockType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentInsertFormConfigured">
        <xs:complexContent>
            <xs:extension base="componentInsertForm">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="allComponents"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentInsertListingConfigured">
        <xs:complexContent>
            <xs:extension base="componentInsertListing">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="allComponents"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentListingToolbarConfigured">
        <xs:complexContent>
            <xs:extension base="componentListingToolbar">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="allComponents"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentMassactionConfigured">
        <xs:complexContent>
            <xs:extension base="componentMassaction">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="massactionElements"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentModalConfigured">
        <xs:complexContent>
            <xs:extension base="componentModal">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:group ref="allComponents"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="componentFilterRangeConfigured">
        <xs:complexContent>
            <xs:extension base="componentFilterRange">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="filterDate"/>
                    <xs:element ref="filterInput"/>
                    <xs:element ref="filterSelect"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="action" type="componentAction">
        <xs:annotation>
            <xs:documentation>
                Defines an action that is used in scope of the Massaction component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="actionDelete" type="componentActionDelete">
        <xs:annotation>
            <xs:documentation>
                The ActionDelete component provides user interface for deleting records of the DynamicRows component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="actions" type="componentActionsConfigured">
        <xs:annotation>
            <xs:documentation>
                A list of available actions for the Massaction component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="actionsColumn" type="componentActionsColumnConfigured">
        <xs:annotation>
            <xs:documentation>
                The ActionsColumns component is a table's column responsible for displaying and performing
                a list of record-related actions.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="bookmark" type="componentBookmark">
        <xs:annotation>
            <xs:documentation>
                The Bookmarks component is responsible for storing active and changed states of data grids.
                It includes state of filters, columns position, applied sorting, pagination, and so on.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="boolean" type="componentBoolean"/> <!--/-->
    <xs:element name="button" type="componentButton">
        <xs:annotation>
            <xs:documentation>
                The Button component is a UI element which allows to perform a list of predefined actions when user
                clicks on it. It's default display mode is the HTML "button" element which be configured
                to display a link.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="checkbox" type="componentCheckbox">
        <xs:annotation>
            <xs:documentation>
                The Checkbox component is a field of the UI Form the initial display state of which is an "input"
                element of the "checkbox" type. It also can be displayed as the "toggle" handler or the radio button
                element.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="checkboxset" type="componentCheckboxset">
        <xs:annotation>
            <xs:documentation>
                The Checkboxset component implements a group of selection elements type of which can be either
                "checkbox" (default) or "radio".
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="column" type="componentColumn">
        <xs:annotation>
            <xs:documentation>
                The Column component is a collection of columns and it provides an interface for such actions
                as showing and hiding columns.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="columns" type="componentColumnsConfigured">
        <xs:annotation>
            <xs:documentation>
                The Columns component is a collection of columns which is responsible for rendering the "table"
                element and displaying records of the Listing component in it.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="columnsControls" type="componentColumnsControls">
        <xs:annotation>
            <xs:documentation>
                The ColumnsControls component allows to modify visibility of the table's columns. It renders
                a list of checkboxes that indicate whether an associated column is displayed in the table or not.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="component" type="componentComponent">
        <xs:annotation>
            <xs:documentation>
                Used to define an abstract instance of the UI component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="container" type="componentContainerConfigured">
        <xs:annotation>
            <xs:documentation>
                Used to define an abstract instance of the UI component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="dataSource" type="componentDataSourceConfigured">
        <xs:annotation>
            <xs:documentation>
                DataSource component is a container for a DataProvider and exposes DataProvider's data to the UI
                Components tree.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="dataProvider" type="componentDataProvider"/> <!--/-->
    <xs:element name="date" type="componentDate">
        <xs:annotation>
            <xs:documentation>
                The Date component is a form element that implements a date input field. It should not be confused with
                the native "input" type="date" as it uses a custom date picker implementation provided by the
                mage/calendar widget.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="dynamicRows" type="componentDynamicRowsConfigured">
        <xs:annotation>
            <xs:documentation>
                The DynamicRows component is, essentially, a dynamic collection of records that can be edited by user.
                Additionally it implements features like changing the position of records and navigation through the
                collection.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="email" type="componentEmail">
        <xs:annotation>
            <xs:documentation>
                The Email component is a form element that implements the HTML "input" field of type="email".
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="exportButton" type="componentExportButton">
        <xs:annotation>
            <xs:documentation>
                The ExportButton component exports grid data to the specified data format (cvs, xml, and so on).
                To enable the ExportButton сomponent, add the "exportButton" element with a "selectProvider" item
                to the listing configuration file.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="field" type="componentFieldConfigured">
        <xs:annotation>
            <xs:documentation>
                Defines a form field.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="fieldset" type="componentFieldsetConfigured">
        <xs:annotation>
            <xs:documentation>
                The Fieldset component is a container for visually grouped form elements, such as buttons and form
                fields.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="file" type="componentFile">
        <xs:annotation>
            <xs:documentation>
                The File component is a form element that implements the HTML "input" field of type="file".
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="fileUploader" type="componentFileUploader">
        <xs:annotation>
            <xs:documentation>
                UI File Uploader component is an adapter for jQuery-File-Upload plugin used in Magento.
                This component integrates file upload functionality with UI components.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filterDate" type="componentFilterDate"/> <!--/-->
    <xs:element name="filterInput" type="componentFilterInput"/> <!--/-->
    <xs:element name="filterSelect" type="componentFilterSelect"/> <!--/-->
    <xs:element name="filterRange" type="componentFilterRangeConfigured">
        <xs:annotation>
            <xs:documentation>
                The Range component is a filter element that allows to specify search criteria by which associated
                fields of the listing's records will be limited to the provided boundaries. Visually this component
                represents two input fields for the "from" and "to" limits and type of which can be either
                "date" or "text".
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filterSearch" type="componentFilterSearch">
        <xs:annotation>
            <xs:documentation>
                Search component allows to find records in the table that satisfy provided criteria. It displays
                a single input field that accepts a search query and it may be considered as a generic tool
                for filtering content that aggregates all other filter elements.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filters" type="componentFiltersConfigured">
        <xs:annotation>
            <xs:documentation>
                The Filters component is responsible for rendering filters UI and applying filtering.
                Must be a child of the Listing component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="form" type="componentFormConfigured">
        <xs:annotation>
            <xs:documentation>
                The Form component allows performing CRUD operations on an entity.
                Form is a basic component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="hidden" type="componentHidden">
        <xs:annotation>
            <xs:documentation>
                The Hidden component is a form element that implements the HTML <input/> field of type="hidden".
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="htmlContent" type="componentHtmlContentConfigured">
        <xs:annotation>
            <xs:documentation>
                HtmlContent is a UI component that provides the ability to process and render a layout structure or a
                Magento block directly inside a UI component configuration. Processing and rendering is executed
                on the server side.
                The layout structure inside HtmlContent must contain only one top-level block. The top-level block
                may contain as many child blocks or containers as required.
                All blocks inside HtmlContent are integrated into layout, and external blocks can refer to them and
                vice versa.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="input" type="componentInput">
        <xs:annotation>
            <xs:documentation>
                The Input component is a form element that implements the HTML <input/> field of type="text".
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="insertForm" type="componentInsertFormConfigured">
        <xs:annotation>
            <xs:documentation>
                The InsertForm component is used to insert Form into other components.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="insertListing" type="componentInsertListingConfigured">
        <xs:annotation>
            <xs:documentation>
                The InsertListing component is used to insert Listing into other components.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="listing" type="componentListingConfigured">
        <xs:annotation>
            <xs:documentation>
                Listing is a basic component responsible for rendering grids, lists and tiles, providing filtering,
                pagination, sorting and other features.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="listingToolbar" type="componentListingToolbarConfigured">
        <xs:annotation>
            <xs:documentation>
                Toolbar component serves as a container for the listing-related elements like paging, massactions,
                filters, bookmarks, i.e. it aggregates all elements that serve as "tools" and renders them above
                the main table. It also allows to fix the position of its content along with the table's header
                so that they would always stay in the viewport area.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="massaction" type="componentMassactionConfigured">
        <xs:annotation>
            <xs:documentation>
                The MassActions component allows selecting items in Listing and creates actions to perform with
                selected items. Must be a child of the Listing component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="modal" type="componentModalConfigured">
        <xs:annotation>
            <xs:documentation>
                The Modal UI component implements a secondary window that opens on top of the main window.
                It uses the modal widget.
                Similar to the widget's configuration, the component's configuration allows you to set the window type
                and the behavior of action buttons (including linking action buttons to methods of the other
                UI components).
                The Modal component can be used for both Admin and storefronts.
                For recommendations about modal windows usage from the UX point of view, see the corresponding topic
                in the Magento Admin pattern library.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="multiline" type="componentMultiline">
        <xs:annotation>
            <xs:documentation>
                The Multiline component is a collection form elements that is used to display multiple fields
                of the same type, the "Street Address" fields, for instance.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="multiselect" type="componentMultiselect">
        <xs:annotation>
            <xs:documentation>
                The Multiselect component provides a check box interface for a specific listing or data set.
                The component is an extension for the Column component, and it allows the user to select
                either a collection of items or all items from the given set.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="nav" type="componentNav">
        <xs:annotation>
            <xs:documentation>
                The Nav component implements tabs navigation.
                See the Admin Design Pattern Library (Tabs) topic for information about the UI design patterns
                that can be implemented using the Nav component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="number" type="componentNumber"/> <!--/-->
    <xs:element name="paging" type="componentPaging">
        <xs:annotation>
            <xs:documentation>
                Paging component provides navigation through the parts/pages of the table.
                On top of that, it creates an instance of the child Sizes component that allows
                to define the number of records displayed in the associated table.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="price" type="componentPrice" /> <!--/-->
    <xs:element name="range" type="componentRange" /> <!--/-->
    <xs:element name="radioset" type="componentRadioset">
        <xs:annotation>
            <xs:documentation>
                The Radioset component is essentially a wrapper for the Chekboxset with the input type set
                to the radio button.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="select" type="componentSelect">
        <xs:annotation>
            <xs:documentation>
                The Select component is used to provide check box interface for a list or a data set.
                The component allows selecting a collection of items.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="selectionsColumn" type="componentSelectionsColumn">
        <xs:annotation>
            <xs:documentation>
                The SelectColumn is a column that displays values of provided records as labels
                of the corresponding options.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="tab" type="componentTab">
        <xs:annotation>
            <xs:documentation>
                The Tab component implements a tab content area.
                See the Admin Design Pattern Library (Tabs) topic for information about the UI design patterns
                that can be implemented using the Tab component.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="text" type="componentText">
        <xs:annotation>
            <xs:documentation>
                The Text component is used to display text data in elements like Form and DynamicRows.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="textarea" type="componentTextarea">
        <xs:annotation>
            <xs:documentation>
                The Textarea component is a form element which implements the "textarea" field.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="wysiwyg" type="componentWysiwyg">
        <xs:annotation>
            <xs:documentation>
                The Wysiwyg component is an adapter for the TinyMCE editor which is used to integrate editor's instance
                into the UI Form. It expects to receive complete widget declaration in the "content" option
                which should contain both markup and the script responsible for creating editor's instance.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
