app/code/Magento/Ui/etc/ui_definition.map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:redefine schemaLocation="urn:magento:framework:Data/etc/argument/types.xsd">
        <xs:complexType name="string">
            <xs:complexContent>
                <xs:extension base="argumentType">
                    <xs:attribute name="translate" use="optional" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="argumentType" abstract="true" mixed="false">
            <xs:complexContent>
                <xs:extension base="argumentType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:redefine>
    <xs:complexType name="xpath">
        <xs:complexContent>
            <xs:extension base="argumentType">
                <xs:attribute name="translate" use="optional" type="xs:boolean"/>
                <xs:attribute name="type" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="converter">
        <xs:complexContent>
            <xs:extension base="argumentType">
                <xs:attribute name="type" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="schemaObject" mixed="true">
        <xs:complexContent>
            <xs:extension base="argumentType">
                <xs:sequence>
                    <xs:element name="argument" type="argumentType" minOccurs="1" maxOccurs="unbounded">
                        <xs:key name="argumentSchemaObjectName">
                            <xs:selector xpath="argument"/>
                            <xs:field xpath="@name"/>
                        </xs:key>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="schemaType">
        <xs:sequence>
            <xs:element name="argument" type="argumentType" minOccurs="1" maxOccurs="unbounded">
                <xs:key name="schemaArgumentItemName">
                    <xs:selector xpath="item"/>
                    <xs:field xpath="@name"/>
                </xs:key>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="componentType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="schema" type="schemaType" minOccurs="0" maxOccurs="1">
                <xs:key name="argumentName">
                    <xs:selector xpath="argument"/>
                    <xs:field xpath="@name"/>
                </xs:key>
            </xs:element>
        </xs:choice>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="include" type="xs:string" use="optional" />
    </xs:complexType>

    <!-- Definition the document element -->
    <xs:element name="components" type="componentsType">
        <xs:unique name="componentNameKey">
            <xs:selector xpath="./component"/>
            <xs:field xpath="@name"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="componentsType">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <!-- Components list -->
            <xs:element name="component" type="componentType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
