app/code/Magento/Install/etc/install_wizard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="install_wizard">
        <xs:annotation>
            <xs:documentation>
                Specifies install wizard configuration.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="steps" type="stepsType" />
                <xs:element name='filesystem_prerequisites'  type="filesystemPrerequisitesType" />
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="stepsType">
        <xs:sequence>
            <xs:element name="step" type="stepType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stepType">
        <xs:annotation>
            <xs:documentation>
                The definition of the step.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="translatableType" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="controller" type="xs:token" use="required"/>
        <xs:attribute name="action" type="xs:token" use="required"/>
    </xs:complexType>

    <xs:complexType name="filesystemPrerequisitesType">
        <xs:sequence>
            <xs:element name="directory" type="directoryType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="directoryType">
        <xs:annotation>
            <xs:documentation>
                The requirement of a directory
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="alias" type="xs:token" use="required"/>
        <xs:attribute name="recursive" type="xs:boolean" use="required"/>
        <xs:attribute name="existence" type="xs:boolean" use="required"/>
        <xs:attribute name="writable" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="translatableType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="translate" use="optional" fixed="true" type="xs:boolean"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>