app/code/Magento/Cron/etc/crontab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="job" type="jobDeclaration" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>

                    <xs:unique name="uniqueJobName">
                        <xs:annotation>
                            <xs:documentation>
                                Job name must be unique.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="job"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="groupDeclaration">
        <xs:annotation>
            <xs:documentation>
                Group declaration.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="jobDeclaration">
        <xs:annotation>
            <xs:documentation>
                Job declaration.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schedule" type="scheduleDeclaration" minOccurs="0" maxOccurs="1"/>
            <xs:element name="config_path" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="instance" type="xs:string" use="required"/>
        <xs:attribute name="method" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="scheduleDeclaration">
        <xs:restriction base="listOfTimePatterns">
            <xs:minLength value="5"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="listOfTimePatterns">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>
</xs:schema>
