app/code/Magento/Elasticsearch/etc/esconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This schema must be used to validate esconfig.xml files
 *
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="config" type="configType" />
<xs:complexType name="configType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element name="stemmer" type="stemmerDataType" />
        <xs:element name="stopwords_file" type="stopwordsDataType" />
    </xs:choice>
</xs:complexType>
<xs:complexType name="stemmerDataType">
    <xs:sequence>
        <xs:element type="xs:string" name="type" minOccurs="1" maxOccurs="1"/>
        <xs:element type="xs:string" name="default" minOccurs="1" maxOccurs="1"/>
        <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>
<xs:complexType name="stopwordsDataType">
    <xs:sequence>
        <xs:element type="xs:string" name="default" minOccurs="1" maxOccurs="1"/>
        <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>
