app/code/Mage/Directory/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="directoryCountryEntity">
                <all>
                    <element name="country_id" type="xsd:string" />
                    <element name="iso2_code" type="xsd:string" />
                    <element name="iso3_code" type="xsd:string" />
                    <element name="name" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="directoryCountryEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:directoryCountryEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="directoryRegionEntity">
                <all>
                    <element name="region_id" type="xsd:string" />
                    <element name="code" type="xsd:string" />
                    <element name="name" type="xsd:string" />
                </all>
            </complexType>
            <complexType name="directoryRegionEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:directoryRegionEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name="directoryCountryListRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="directoryCountryListResponse">
        <part name="countries" type="typens:directoryCountryEntityArray" />
    </message>
    <message name="directoryRegionListRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="country" type="xsd:string" />
    </message>
    <message name="directoryRegionListResponse">
        <part name="countries" type="typens:directoryRegionEntityArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="directoryCountryList">
            <documentation>List of countries</documentation>
            <input message="typens:directoryCountryListRequest" />
            <output message="typens:directoryCountryListResponse" />
        </operation>
        <operation name="directoryRegionList">
            <documentation>List of regions in specified country</documentation>
            <input message="typens:directoryRegionListRequest" />
            <output message="typens:directoryRegionListResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="directoryCountryList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="directoryRegionList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
