lib/internal/Magento/Framework/Setup/Declaration/Schema/etc/types/binaries/varbinary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="urn:magento:framework:Setup/Declaration/Schema/etc/types/column.xsd"/>

    <xs:complexType name="varbinary">
        <xs:complexContent>
            <xs:extension base="abstractColumnType">
                <xs:annotation>
                    <xs:documentation>
                        Can be used as binary source
                    </xs:documentation>
                </xs:annotation>

                <xs:attribute name="length">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:maxInclusive value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="default" type="xs:string" />
                <xs:attribute name="nullable" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
