lib/internal/Magento/Framework/App/Language/package.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="language" type="languageDeclarationType">
        <xs:unique name="vendorCode">
            <xs:selector xpath="use"/>
            <xs:field xpath="@vendor"/>
            <xs:field xpath="@package"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="languageDeclarationType">
        <xs:annotation>
            <xs:documentation>Magento language package declaration</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="code" type="codeType"/>
            <xs:element minOccurs="1" maxOccurs="1" name="vendor" type="vendorType"/>
            <xs:element minOccurs="1" maxOccurs="1" name="package" type="packageType"/>
            <xs:element minOccurs="0" maxOccurs="1" name="sort_order" type="xs:integer"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="use" type="useType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="codeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}_[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vendorType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z\-_]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="packageType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z\-_]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="useType">
        <xs:attribute use="required" name="vendor" type="vendorType"/>
        <xs:attribute use="required" name="package" type="packageType"/>
    </xs:complexType>
</xs:schema>
