app/code/Magento/Webapi/etc/webapi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Structure description for webapi.xml configuration files.
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config" type="configType"/>
    <xs:complexType name="configType">
        <xs:sequence>
            <xs:element type="serviceType" name="service" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="serviceType">
        <xs:sequence>
            <xs:element type="restRouteType" name="rest-route" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:string" name="baseUrl"/>
    </xs:complexType>
    <xs:complexType name="restRouteType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="httpMethod">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="GET"/>
                            <xs:enumeration value="PUT"/>
                            <xs:enumeration value="POST"/>
                            <xs:enumeration value="DELETE"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute type="xs:string" name="method"/>
                <xs:attribute type="resourcesType" name="resources"/>
                <xs:attribute type="xs:boolean" name="isSecure" default="false"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="resourcesType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+::.+(, ?.+::.+)*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
