lib/internal/Magento/Framework/Object/etc/fieldset_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:annotation>
            <xs:documentation>
                Specifies a configuration.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="scope" type="scopeType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="scopeType">
        <xs:annotation>
            <xs:documentation>
                The definition of the current scope.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldset" type="fieldsetType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="fieldsetType">
        <xs:annotation>
            <xs:documentation>
                The set of fields which will be used to filter existing Magento Object data
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="field" type="fieldType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="fieldType">
        <xs:annotation>
            <xs:documentation>
                The name of a field used to extract data from an existing Magento Object
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="aspect" type="aspectType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:token" use="required"/>
    </xs:complexType>

    <xs:complexType name="aspectType">
        <xs:annotation>
            <xs:documentation>
                The name of an aspect associated with a field. If the targetField is populated, the field data will be
                provided under the name specified by targetField.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:token" use="required"/>
        <xs:attribute name="targetField" type="xs:token" use="optional"/>
    </xs:complexType>

</xs:schema>
